/* Estilos de Index */
body {
    font-family: 'Oswald', sans-serif; /* Usando la fuente Oswald */
    background-color: #2c2c2c; /* Color de fondo oscuro */
    color: #fff; /* Color de texto principal */
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a; /* Color de encabezado oscuro */
    padding: 12px 0;
}

.container {
    max-width: 1200px;
    margin: 0 10px;
    padding: 0 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffd700; /* Color de texto dorado */
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #fff; /* Color de fondo blanco para el campo de entrada */
    color: #2c2c2c; /* Color de texto oscuro */
    border: 2px solid #ffd700; /* Borde dorado */
}

input[type="text"]::placeholder {
    color: #2c2c2c; /* Color de texto de marcador de posición oscuro */
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #ffd700; /* Color de botón dorado */
    color: #2c2c2c; /* Color de texto oscuro */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #ffd700; /* Borde dorado */
}

button:hover {
    background-color: #e6ac00; /* Cambio de color al pasar el cursor */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#results {
    max-width: 800px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff; /* Color de fondo blanco para resaltar los resultados */
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ffd700; /* Borde dorado */
}

li:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el cursor */
}
.footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    color: #ffd700; /* Color de texto dorado */
    background-color: #1a1a1a; /* Color de footer oscuro */
    padding: 7px;
    position: fixed; /* Fijar el footer */
    bottom: 0; /* Colocar en la parte inferior */
    width: 100%; /* Ancho completo */
}


/* Estilos para login.html */

input[type="text"],
input[type="password"] {
    width: calc(80% - 40px); 
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #fff; /* Color de fondo blanco para los campos de entrada */
    color: #2c2c2c; /* Color de texto oscuro */
    border: 2px solid #ffd700; /* Borde dorado */
    margin-left: 50px; /* Centrar el campo de entrada */
    margin-right: 50px; /* Centrar el campo de entrada */
}

button[type="submit"] {
    width: 100px; /* Ancho más pequeño */
    padding: 8px 16px; /* Tamaño de padding más pequeño para ajustarse al botón más pequeño */
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #ffd700; /* Color de botón dorado */
    color: #2c2c2c; /* Color de texto oscuro */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el cambio de color */
    border: 2px solid #ffd700; /* Borde dorado */
    margin-left: auto;
    margin-right: auto; 
}

button[type="submit"]:hover {
    background-color: #e6ac00; /* Cambio de color al pasar el cursor */
}

/* Estilos para el enlace dentro de .readme */
.readme {
    color: #ffd700; /* Color amarillo */
    text-decoration: none; /* Quitar subrayado del enlace */
    float: right; /* Alinear a la derecha */
    margin-top: 10px; /* Espacio superior */
    margin-right: 10px; /* Espacio derecho */
}