/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, #cb232c, #ce1d61) 
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 40px 50px;
    box-shadow:0 5px 10px rgba(71, 3, 6, 0.7) ;
}

form .title{
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    padding: 0 5px;
    font-size: 18px;
}

form .link  {
    color: #252525;
    margin-bottom: 15px;
}

form button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}
/*Footer generales*/
footer.footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: none;
    color: #252525;
    text-align: center;
    padding: 15px 0; 
}
/*Estilos para el header de las paginas 2 y 3*/
.header {
    position: fixed; /* Para mantener el encabezado en la parte superior */
    top: 0;
    left: 0; /* Posiciona el encabezado en la esquina superior izquierda */
    padding: 10px 20px; /* Espaciado interno */
    background-color: transparent;
}

.link2 {
    color: black; /* Color de texto negro */
    text-decoration: none; /* Sin subrayado */
    margin-left: 20px; /* Espacio entre enlaces */
}

.titulo2 {
    color: #fff; 
    font-size: 1.5rem; 
    text-align: right; 
    margin-left: 10px; 
}

/*Logo Wonka*/
.logo {
    position: fixed; /* Posición fija para mantenerlo en la esquina */
    top: 0; /* Alinea el logo en la parte superior */
    right: 0; /* Alinea el logo en la parte derecha */
    margin: 20px; /* Margen opcional para espacio desde el borde */
    z-index: 1000; /* Z-index para asegurar que esté por encima de otros elementos */
}

.brand img {
    max-width: 150px; /* Ancho máximo de la imagen */
    max-height: 150px; /* Altura máxima de la imagen */
}

/* Box de pagina Search*/
#searchInput {
    width: 300px; /* Ancho del input */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: 2px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Radio de borde para esquinas redondeadas */
    outline: none; /* Elimina el contorno al enfocar */
}

#searchInput::placeholder {
    color: #999; /* Color del texto de marcador de posición */
}